altgraph==0.17.4
cffi==1.16.0
cryptography>=41.0.6
importlib-metadata==6.8.0
packaging==23.2
password-strength==0.0.3.post2
Pillow==10.1.0
pycparser==2.21
pyfingerprint==1.5
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
pyotp==2.9.0
pyperclip==1.8.2
pyserial==3.5
python-dotenv==1.0.0
pytz==2023.3.post1
six==1.16.0
tk==0.1.0
tzlocal==5.2
zipp==3.17.0
